*.tlog
Debug/vc110.pdb
Debug/vc110.idb
*.opensdf
22c Team Project.sdf
22c Team Project.sdf
22c Team Project.sdf
22c Team Project.v11.suo
22c Team Project.vcxproj
Debug/22c Team Project.exe
*.ilk
Debug/22c Team Project.lastbuildstate
22c Team Project.sdf
22c Team Project.sdf
22c Team Project.v11.suo
22c Team Project.v11.suo
22c Team Project.sdf
Debug/22c Team Project.pdb
Debug/22c Team Project.pdb
Debug/22c Team Project.log
Debug/22c Team Project.exe
22c Team Project.v11.suo
22c Team Project.sdf
Debug/main.obj
Debug/main.obj
Debug/22c Team Project.log
Debug/main.obj
Debug/22c Team Project.ilk
22c Team Project.v11.suo
22c Team Project.sdf
Debug/main.obj
Debug/main.obj
Debug/22c Team Project.pdb
Debug/22c Team Project.log
Debug/22c Team Project.ilk
Debug/22c Team Project.exe
22c Team Project.v11.suo
22c Team Project.sdf
Debug/main.obj
22c Team Project.sdf
22c Team Project.v11.suo
Debug/main.obj
Debug/22c Team Project.pdb
Debug/22c Team Project.log
Debug/22c Team Project.ilk
Debug/22c Team Project.exe
22c Team Project.v11.suo
22c Team Project.sdf